body {
  font-family: Arial, sans-serif;
  background-color: black;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
  background-color: #000;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

form .iconContainer {
  display: flex;
  justify-content: flex-end;
}

.notes-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note {
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #0e0d0d;
  box-sizing: border-box;
  border-color: #ffffff;
}

.note img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 10px;
}

.note .iconContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.icon {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  transition: background 0.3s;
}

.hiddenColorPicker {
  display: none;
}

@media (max-width: 768px) {
  form,
  .note {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  form,
  .note {
    max-width: 100%;
  }
}
